
.e-section-control {
	margin-top: 0px;
  background-color: rgb(240, 240, 240);
  display: flexbox;
}
.e-menu-wrapper {
  background-color: rgb(240, 240, 240);
}

  .imagem-logo{
    float: left;
    width:3.5%;
    height: 8%;
  }
    .img-logo{
    float: right;
    width: 90%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;

  }